body {
  background-image: url(../img/euro-1353420_1280.jpg);
  display: grid;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
}

#container {
  background-color: rgb(247, 243, 237);
  display: grid;
  justify-content: center;
  width: 80%;
  margin: 24px;
  padding: 32px;

}

#eur, #gbp, #calc {
  margin: 8px;
  padding: 8px;
}
input {
  margin-bottom: 8px;
}

#calc {
  justify-items: center;
  display: grid;
}

button {
  border-image: -webkit-linear-gradient(left, rgb(233, 205, 140), rgb(227, 231, 188))
  1;
  background-image: -webkit-linear-gradient(left, rgb(233, 205, 140), rgb(227, 231, 188));
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 4px;
  padding-bottom: 4px;

}

button:hover {
  cursor: pointer;
  background: linear-gradient(to right, rgb(227, 231, 188), rgb(218, 181, 97));
  border-image: -webkit-linear-gradient(left, rgb(227, 231, 188), rgb(218, 181, 97))
  1;
  transition-timing-function: 4s linear;
  transition: 2s linear;
}